.button {
    margin-top: 0;
    margin-bottom: 4rem;
    background: linear-gradient(180deg, #E21143, #FFB03A);
    padding: .35rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid transparent;
    border-radius: .5rem;
    font-weight: 400;
}

button:hover {
    transition: all 500ms ease;
    background: linear-gradient(90deg, #E21143, #FFB03A);
    color: white;
}

h3 {
    margin-bottom: 2rem;
}

p {
    margin-top: 1rem;
}

.profile-container {
    display: flex;
    flex-direction: column;
}

.profile-title {
    border-bottom: 1px solid black;
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem;
    padding-bottom: .75rem;
}

.profile-item {
    
}

.profile-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}