.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 4vw;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 2vw;
    padding: .5vw;
    border-radius: 4px;
}
